@{
    ViewData["Title"] = "Aggiungi Verbale";
}

@model Verbale

<h2 class="my-3">Nuovo Verbale</h2>

<form class="row g-3" asp-controller="Home" asp-action="Add" method="post">
    <div class="col-md-6">
        <label asp-for="@Model.DataViolazione" class="form-label">Data Violazione</label>
        <input type="date" class="form-control" asp-for="@Model.DataViolazione">
    </div>
    <div class="col-md-6">
        <label asp-for="@Model.DataTrascrizioneVerbale" class="form-label">Data Trascrizione</label>
        <input type="date" class="form-control" asp-for="@Model.DataTrascrizioneVerbale">
    </div>
    <div class="col-12">
        <label asp-for="@Model.IndirizzoViolazione" class="form-label">Indirizzo Violazione</label>
        <input type="text" class="form-control" asp-for="@Model.IndirizzoViolazione" placeholder="1234 Main St">
    </div>
    <div class="col-12">
        <label asp-for="@Model.Nominativo_Agente" class="form-label">Nominativo Agente</label>
        <input type="text" class="form-control" asp-for="@Model.Nominativo_Agente">
    </div>
    <div class="col-md-7">
        <label asp-for="@Model.Importo" class="form-label"></label>
        <input type="number" class="form-control" asp-for="@Model.Importo">
    </div>
    <div class="col-md-5">
        <label asp-for="@Model.DecurtamentoPunti" class="form-label">Decurtamento punti</label>
        <input type="number" class="form-control" asp-for="@Model.DecurtamentoPunti">
    </div>

    <div class="col-7">
        
            <div>
                <label asp-for="@Model.IDAnagrafica" class="form-label">Trasgressore</label>
                <select id="inputState" class="form-select" asp-for="@Model.IDAnagrafica">
                    <option selected>Choose...</option>
                    @foreach (var utente in ViewBag.Utenti)
                    {
                        <option value="@utente.IDAnagrafica">@(utente.Nome) @(utente.Cognome) - @(utente.Cod_Fisc) </option>
                    }

                </select>

            </div>       
          
    </div>


    <div class="col-md-5">
        <label asp-for="@Model.IDViolazione" class="form-label">Violazione</label>
        <select id="inputState" class="form-select" asp-for="@Model.IDViolazione">
            <option selected>Choose...</option>
            @foreach (var violazione in ViewBag.Violazioni)
            {
                <option value="@violazione.IDViolazione">@violazione.Descrizione</option>
            }
                        
        </select>
    </div>
   
    <div class="col-12" >
        <button  class="btn btn-outline-success">Aggiungi</button>
    </div>
</form>
