@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["MessageSuccess"] is not null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["MessageSuccess"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["MessageError"] is not null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["MessageError"]
    </div>
}

<h2>Verbali</h2>

@if (Model is null)
{
    <h3>Non ci sono verbali sul database</h3>
} else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col"  class="text-nowrap">Data Violazione</th>
                <th scope="col" class="text-nowrap">Indirizzo Violazione</th>
                <th scope="col" class="text-nowrap">Nominativo Agente</th>
                <th scope="col" class="text-nowrap">Data Trascrizione Verbale</th>
                <th scope="col" >Importo</th>
                <th scope="col" class="text-nowrap">Decurtamento Punti</th>
                <th scope="col">Descrizione</th>
                <th scope="col">Tragressore</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var multa in Model)
            {
                <tr>
                    <td scope="col">@multa.IDVerbale</td>
                    <td scope="col">@multa.DataViolazione.ToShortDateString()</td>
                    <td scope="col">@multa.IndirizzoViolazione</td>
                    <td scope="col">@multa.Nominativo_Agente</td>
                    <td scope="col">@multa.DataTrascrizioneVerbale.ToShortDateString()</td>
                    <td scope="col">@multa.Importo.ToString("#,00.##")</td>
                    <td scope="col">@multa.DecurtamentoPunti</td>
                    <td scope="col" class="text-nowrap">@multa.Descrizione</td>
                    <td scope="col">
                        <a class="btn btn-outline-secondary text-nowrap " asp-controller="Home" asp-action="Anagrafica" asp-route-id="@multa.IDAnagrafica">Anagrafica Trasgressore</a>              
                    </td>               
                </tr>
            }
        </tbody>
    </table>
}